:root {

    --brand-color-primary: #06038D;
    --brand-color-secondary: #E87722;

    --gray-color: #C1C1C1;
    --gray-light-color: #E5E5E5;
    --gray-dark-color: #696969;

    --yellow-light-color: #FFF6E0
}
