<h1>Typography</h1>
<p>
    Typography creates purposeful texture, guiding users to read and understand the hierarchy of information. The right typographic treatment and the controlled usage of type styles helps manage the display of content, keeping it useful, simple, and effective.
</p>

<h2 id="overview">Overview</h2>
<p>Systelab Components uses Lato type face for all visual interfaces.</p>
<p>Lato is a sans-serif, Humanist typeface.
    Humanist typefaces characters have the greatest line width variations
and the most contrast in shape. They rank better in ease and speed of
    reading among all types of sans-serif styles.</p>

<p>Lato font family is available at <a target="_blank" href="https://fonts.google.com/specimen/Lato?query=lato">Google Fonts</a>.</p>


<h2 id="style">Style</h2>
<p>
    Typography creates purposeful texture, guiding users to read and understand the hierarchy of information. The right typographic treatment and the controlled usage of type styles helps manage the display of content, keeping it useful, simple, and effective.
</p>
<hr>
<h3>Weights</h3>
<div class="row gy-4">
    <div class="col-5">
        <p class="h6 font-weight-bold ">Bold (600)</p>
        <p class="h6 font-weight-normal">Regular (400)</p>
        <p class="h6 font-weight-light">Light (300)</p>
    </div>
    <div class="col-7">
        Font weight is an important typographic variable that can add emphasis and differentiate content hierarchy. Font weight and size pairings must be carefully balanced. A bold weight will always have more emphasis than a lighter weight font of the same size. However, a lighter weight font can rank hierarchically higher than a bold font if the lighter weight type size is significantly larger than the bold one.
    </div>

</div>
<hr>

<h3>Italic</h3>
<div class="row gy-4">
    <div class="col-5">
        <p class="h6 font-weight-bold font-italic">Bold Italic (600)</p>
        <p class="h6 font-weight-normal font-italic">Regular Italic (400)</p>
        <p class="h6 font-weight-light font-italic">Light Italic (300)</p>
    </div>
    
    <div class="col-7">
        
        Font weight is an important typographic variable that can add emphasis and differentiate content hierarchy. Font weight and size pairings must be carefully balanced. A bold weight will always have more emphasis than a lighter weight font of the same size. However, a lighter weight font can rank hierarchically higher than a bold font if the lighter weight type size is significantly larger than the bold one.
    </div>

</div>

<h2 id="type-scale">Type scale</h2>
<p>
    Systelab Components type scale includes a range of contrasting styles that support the needs of your product and its content.

The type scale is a combination of eleven styles that are supported by the type system. It contains reusable categories of text, each with an intended application and meaning.

</p>

<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">px</th>
        <th scope="col">rem</th>
        <th scope="col">Letter spacing</th>
        <th scope="col">Line height</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="h1">Headline 1</td>
        <td>48</td>
        <td>3</td>
        <td>0</td>
        <td>72px</td>
      </tr>
      <tr>
        <td class="h2">Headline 2</td>
        <td>42</td>
        <td>2.625</td>
        <td>0</td>
        <td>72px</td>
      </tr>
      <tr>
        <td class="h3">Headline 3</td>
        <td>36</td>
        <td>2.25</td>
        <td>0</td>
        <td>72px</td>
      </tr>
      <tr>
        <td class="h4">Headline 4</td>
        <td>32</td>
        <td>2</td>
        <td>0</td>
        <td>48px</td>
      </tr>
      <tr>
        <td class="h5">Headline 5</td>
        <td>28</td>
        <td>1.75</td>
        <td>0</td>
        <td>42px</td>
      </tr>
      <tr>
        <td class="h6">Headline 6</td>
        <td>24</td>
        <td>1.5</td>
        <td>0</td>
        <td>36px</td>
      </tr>
      <tr>
        <td class="subtitle">Subtitle</td>
        <td>20</td>
        <td>1.125</td>
        <td>0</td>
        <td>30px</td>
      </tr>
      <tr>
        <td class="body-1">Body 1</td>
        <td>16</td>
        <td>1</td>
        <td>0</td>
        <td>24px</td>
      </tr>
      <tr>
        <td class="body-2">Body 2</td>
        <td>14</td>
        <td>0.875</td>
        <td>0.5px</td>
        <td>21px</td>
      </tr>
      <tr>
        <td class="caption">Caption</td>
        <td>12</td>
        <td>0.75</td>
        <td>0.5px</td>
        <td>18px</td>
      </tr>
      <tr>
        <td class="overline">Overline</td>
        <td>12</td>
        <td>0.75</td>
        <td>1.5px</td>
        <td>18px</td>
      </tr>
      
    </tbody>
  </table>

  <p>
    Real example of how to apply the sizing types on a card.
</p>


  <h2 id="usage">Usage</h2>
  <p>
    In order to maintain the hierarchy within the application we must try to combine the different sizes available to ensure that the user does not get lost, especially in large information screens. Here are some examples of how to apply the different styles.
  
  </p>



  <table class="table align-middle">
      <thead>
        <tr>
          <th class="col-6">Category</th>
          <th class="col-6">Use</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
              <div class=""><span class="h1">H1</span>, <span class="h2">H2</span>, <span class="h3">H3</span>,<span class="h4">H4</span>,<span class="h5">H5</span>,<span class="h6">H6</span>,</div>
              In the type scale, headlines span from a range of 1 through 6. Headlines are the largest text on the screen, reserved for short, important text or numerals.

These unconventional font designs have details and intricacy that help attract the eye.


          </td>
            <td>
              
            </td>
          </tr>
        <tr>
          <td>
            <div class="subtitle">Subtitle</div>
            Subtitles are smaller than headlines. They are typically reserved for medium-emphasis text that is shorter in length. 
        </td>
          <td>
            <ul>
                <li>Card titles</li>
                <li>Title page in applications(MyPatients)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <div class="body-1">Body 1</div>
            Body text in range 1 is used in most of the application's text.
          <td>
            <ul>
                <li>Form elements: label, inputs, buttons, tabs</li>
                <li>As a value in a title/value component</li>
            </ul>
          </td>
        </tr>
        <tr>
            <td>
              <div class="body-2">Body 2</div>
              It is applied in texts where we have little space or as content separators to complement information and being smaller helps to hierarchize the information when used with other types of content.
            <td>
              <ul>
                    <li>Menu with icon + text</li>
                    <li>Indicate status</li>
                    <li>As content separator title</li>
                    <li>As a text/value component in small spaces likes sidebar, statusbar</li>
              </ul>
            </td>
          </tr>
        
        <tr>
            <td>
                <div class="caption">Caption</div>
                Caption and overline text are the smallest font sizes. They are used sparingly to annotate imagery, introduce a headline or a text/value component.
            </td>

          <td>
            <ul>
                <li>To indicate standby status, eg: Loading..., Processing...</li>
            </ul>
          </td>
        </tr>
        <tr>
            <td>
                <div class="overline">Overline</div>
                Caption and overline text  are the smallest font sizes. They are used sparingly to annotate imagery, introduce a headline or a text/value component.
            </td>
          <td>
            <ul>
                <li>In badges, most often to indicate states</li>
                <li>As a title in a title/value component</li>
            </ul>
          </td>
        </tr>
        
      </tbody>
    </table>
  
    
    
        <div class="do-dont-row">
            <div>
                <img class="do" src="components/typography/images/statusbar.svg">
                <div>You can combine the weights of the same type to highlight information.</div>
            </div>
            <div>
                <img class="do" src="components/typography/images/text-value.svg">
                <div>Size variation according to the importance we want to give it.</div>
            </div>
            
            
        </div>
        <hint>
            It is important to use the types correctly according to the needs of each screen. A bad combination of types can make for a bad user experience.
        </hint>
        <br>
        <h3>
            Here you can see the usage of the different types in real applications.
        </h3>
        <div class="do-dont-row">
            <div>
                <img class="info" src="components/typography/images/card-type.svg">
                
            </div>
        </div>
    
        <div class="do-dont-row">
            <div>
                <img class="info" src="components/typography/images/login-type.png">
                <div>Login screen typography setup</div>
            </div>
            
        </div>
    


  <style>
    .h1 {
        font-size: 3rem;
    }
    .h2 {
        font-size: 2.625rem;
    }
    .h3 {
        font-size: 2.25rem;
    }
    .h4 {
        font-size: 2rem;
    }
    .h5 {
        font-size: 1.75rem;
    }
    .h6 {
        font-size: 1.5rem;
    }
    
    .subtitle {
        font-size: 1.25rem;
        font-weight: normal;
    }
    .body-1 {
        font-size: 1rem;
        font-weight: normal;
    }
    .body-2 {
        font-size: 0.875rem;
        letter-spacing: 0.5px;
        font-weight: normal;
    }
    .caption {
        font-size: 0.75rem;
        letter-spacing: 0.5px;
        font-weight: normal;
    }
    .overline {
        font-size: 0.75rem;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: normal;
    }
    ul {
        margin: 0
    }
  </style>