<h1>Typography</h1>
<p>The <a href="https://www.latofonts.com/">Lato</a> typeface is used for all text including site titles, straplines, headings, sub-headings and body text.</p>
<p>Lato is a sans-serif, Humanist typeface.
    Humanist typefaces characters have the greatest line width variations
and the most contrast in shape. They rank better in ease and speed of
    reading among all types of sans-serif styles.</p>

<p>Lato font family is available at <a href="https://fonts.google.com/specimen/Lato?query=lato">Google Fonts</a>.</p>

<h3>Text using Lato</h3>
<p style="font-family: 'Lato', sans-serif;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h3>Text using regular Sans-Serif</h3>
<p style="font-family: sans-serif;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

