<h1>List box</h1>
<p>
    Listbox present a list of options from which a user can select one option, or several.     
</p>


<h2 id="overview">Overview</h2>

<p>
    Allows the user to select one or multiple options from a list
</p>

<h3>When to use</h3>
<ul>
    <li>Can be used in forms on full pages, in modals, or on side panels</li>
    <li>Utilizar si són pocas opciones y són facilmente analizables para el usuario, en caso contrario utilizar el dropdown</li>
</ul>

<h3>When not to use</h3>
<ul>
    <li>If there are many options and the user need to scroll or find the element could be a mess</li>
</ul>

<hint>Sempre que l'espai ho permeti es preferible utilitzar un listbox en comptes d'un dropdown. Millora l'experiència d'usuari.</hint>

<h2 id="usage">Usage</h2>
<h3>Single selection</h3>
<div class="d-flex col-12 justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/listbox/images/single-default.svg">
        <div class="mt-2">Defautl list</div>
    </div>
    <div class="text-center">
        <img src="components/listbox/images/single-selected.svg">
        <div class="mt-2">Selected option</div>
    </div>
</div>

<h3>Multiple selection</h3>
<div class="d-flex col-12 justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/listbox/images/multiple-default.svg">
        <div class="mt-2">Defautl list</div>
    </div>
    <div class="text-center">
        <img src="components/listbox/images/multiple-selected.svg">
        <div class="mt-2">Selected option</div>
    </div>
</div>



<h2 id="overview">Style</h2>
<div class="d-flex col-12 justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/listbox/images/single-zebra.svg">
        <div class="mt-2">Zebra stripes in the single selection version</div>
    </div>
    <div class="text-center">
        <img src="components/listbox/images/multiple-zebra.svg">
        <div class="mt-2">Zebra stripes in the multiple selection version</div>
    </div>
</div>




<h2 id="content">Content</h2>
<h3>Labels</h3>
<ul>
    <li>Labels inform users what to expect in the list of dropdown options.</li>
    <li>Keep the label short and concise by limiting it to a single line of text.</li>
</ul>

<h3>Overflow</h3>
<p>
    To facilitate the user experience it is important to limit the size of the list container
</p>
<div class="d-flex col-12 justify-content-around">
    <div class="text-center">
        <img src="components/listbox/images/overflow.svg">
        <div class="mt-2">Vertical scroll</div>
    </div>
</div>


