<h1>Signature canvas</h1>


<p>
    Signatures are important both for legal identification and personal expression.
Signature canvas allow the user to sign digitally in any Werfen application.
</p>

<h2 id="overview">Overview</h2>
<div class="bg-light flex-column justify-content-center d-flex col-12 border p-4 rounded">
    <div class="text-center">
        <img src="components/signature-canvas/images/canvas.svg">
        
    </div>
    <div class="text-center mt-5">
        <img src="components/signature-canvas/images/full.svg">
        
    </div>
</div>
