
<link rel="stylesheet" href="components/icons/icomoon.css">

<h1>Icons</h1>
<p>
    Icons are visual symbols used to represent ideas, objects, or actions. They communicate messages at a glance, afford interactivity, and draw attention to important information.
</p>

<h2 id="overview">Overview</h2>
<h3>Sizing</h3>
<p>
    Werfen components typically use icons on 16px artboards. Icons on 20px, 24px, and 32px artboards can also be used within the UI. Be sure icon size is consistent throughout your product.
</p>


<div class="d-flex col-12 justify-content-around border p-4 rounded">
        <div class="text-center">
            <img width="16" src="components/icons/images/coag.svg">
            <div class="mt-2">16px</div>
        </div>
        <div class="text-center">
            <img width="20" src="components/icons/images/coag.svg">
          <div class="mt-2">20px</div>
        </div>
        <div class="text-center">
            <img width="24" src="components/icons/images/coag.svg">
            <div class="mt-2">24px</div>
          </div>
          <div class="text-center">
            <img width="32" src="components/icons/images/coag.svg">
            <div class="mt-2">32px</div>
          </div>
        </div>
<br>
        <p>
            16px and 20px icons are optimized to feel balanced when paired with 14pt and 16pt Lato Font.
        </p>
        
        <div class="d-flex col-12 justify-content-around border p-4 rounded">
            <div>
                <img src="components/icons/images/lato14.svg">
                
            </div>
            <div>
                <img src="components/icons/images/lato16.svg">
    
            </div>
        </div>
    
    
    
    
    


    <div class="do-dont-row">
        <div>
            <img height="200" class="do" src="components/icons/images/do.svg">
            <div>Do use the correct icon size with font.</div>
        </div>
        <div>
            <img height="200" class="dont" src="components/icons/images/dont.svg">
            <div>Don't use large icons with small text. Use the correct size ratio.</div>
        </div>
      </div>
      <hint>Use 24px and 32px when larger icons are needed.</hint>
    
      <h3>Colors</h3>
      <p>
        If using the icon only the <a href="?components/color-system">color system</a> guide has to be followed, if using an icon + text on a button the icon has to follow the button specifications.
      </p>
      
      <div class="do-dont-row">
        <div>
            <img height="200" class="do" src="components/icons/images/do.svg">
            <div>Use the same color for text and icons.</div>
        </div>
        <div>
            <img height="200" class="dont" src="components/icons/images/dont-color.svg">
            <div>Don't use different colors for text and icons.</div>
        </div>
      </div>

      <h3>Alignment</h3>
      <p>When used next to text, icons should be center-aligned.</p>

      <div class="do-dont-row">
        <div>
            <img height="200" class="do" src="components/icons/images/do-align.svg">
            <div>Align icons and text.</div>
        </div>
        <div>
            <img height="200" class="dont" src="components/icons/images/dont-align.svg">
            <div>Don't baseline-align icons to the text.</div>
        </div>
      </div>
      <h2 id="resources">Resources</h2>
      <div>    
        <b>Fontawesome icons</b>
        <p>Werfen UI applications use the Font Awesome library with light style. You can take a look at library <a href="https://fontawesome.com/search?o=r&s=light" target="_blank">https://fontawesome.com/search?o=r&s=light</a></p>
        <hr>
        <b>Werfen icons (deprecated)</b>
        <p>Werfen UI also use a custom icon library with some specific icons</a></p>
        
        <div class="icon-gallery">
            <div class="icon-filter"><span>icon-filter</span></div>
            <div class="icon-sitemap"><span>icon-sitemap</span></div>
            <div class="icon-paperclip"><span>icon-paperclip</span></div>
            <div class="icon-context-menu"><span>icon-context-menu</span></div>
            <div class="icon-numpad"><span>icon-numpad</span></div>
            <div class="icon-clock"><span>icon-clock</span></div>
            <div class="icon-plus"><span>icon-plus</span></div>
            <div class="icon-question"><span>icon-question</span></div>
            <div class="icon-minus"><span>icon-minus</span></div>
            <div class="icon-search"><span>icon-search</span></div>
            <div class="icon-check"><span>icon-check</span></div>
            <div class="icon-close"><span>icon-close</span></div>
            <div class="icon-gear"><span>icon-gear</span></div>
            <div class="icon-home"><span>icon-home</span></div>
            <div class="icon-refresh"><span>icon-refresh</span></div>
            <div class="icon-print"><span>icon-print</span></div>
            <div class="icon-list"><span>icon-list</span></div>
            <div class="icon-chevron-left"><span>icon-chevron-left</span></div>
            <div class="icon-chevron-right"><span>icon-chevron-right</span></div>
            <div class="icon-plus-circle"><span>icon-plus-circle</span></div>
            <div class="icon-minus-circle"><span>icon-minus-circle</span></div>
            <div class="icon-times-circle"><span>icon-times-circle</span></div>
            <div class="icon-check-circle"><span>icon-check-circle</span></div>
            <div class="icon-question-circle"><span>icon-question-circle</span></div>
            <div class="icon-info-circle"><span>icon-info-circle</span></div>
            <div class="icon-exclamation-circle"><span>icon-exclamation-circle</span></div>
            <div class="icon-exclamation-triangle"><span>icon-exclamation-triangle</span></div>
            <div class="icon-warning"><span>icon-warning</span></div>
            <div class="icon-calendar"><span>icon-calendar</span></div>
            <div class="icon-chevron-up"><span>icon-chevron-up</span></div>
            <div class="icon-chevron-down"><span>icon-chevron-down</span></div>
            <div class="icon-square-o"><span>icon-square-o</span></div>
            <div class="icon-tool"><span>icon-tool</span></div>
            <div class="icon-clone"><span>icon-clone</span></div>
            <div class="icon-square"><span>icon-square</span></div>
            <div class="icon-caret-down"><span>icon-caret-down</span></div>
            <div class="icon-caret-up"><span>icon-caret-up</span></div>
            <div class="icon-caret-left"><span>icon-caret-left</span></div>
            <div class="icon-caret-right"><span>icon-caret-right</span></div>
            <div class="icon-angle-double-left"><span>icon-angle-double-left</span></div>
            <div class="icon-angle-double-right"><span>icon-angle-double-right</span></div>
            <div class="icon-angle-double-up"><span>icon-angle-double-up</span></div>
            <div class="icon-angle-double-down"><span>icon-angle-double-down</span></div>
            <div class="icon-angle-left"><span>icon-angle-left</span></div>
            <div class="icon-angle-right"><span>icon-angle-right</span></div>
            <div class="icon-angle-up"><span>icon-angle-up</span></div>
            <div class="icon-angle-down"><span>icon-angle-down</span></div>
            <div class="icon-exclamation"><span>icon-exclamation</span></div>
            <div class="icon-chevron-circle-left"><span>icon-chevron-circle-left</span></div>
            <div class="icon-chevron-circle-right"><span>icon-chevron-circle-right</span></div>
            <div class="icon-chevron-circle-up"><span>icon-chevron-circle-up</span></div>
            <div class="icon-chevron-circle-down"><span>icon-chevron-circle-down</span></div>
            <div class="icon-trash"><span>icon-trash</span></div>
            <div class="icon-line-chart"><span>icon-line-chart</span></div>
            <div class="icon-female"><span>icon-female</span></div>
            <div class="icon-male"><span>icon-male</span></div>
            <div class="icon-calendar-check"><span>icon-calendar-check</span></div>
            <div class="icon-percent"><span>icon-percent</span></div>
            <div class="icon-maximize"><span>icon-maximize</span></div>
            <div class="icon-minimize"><span>icon-minimize</span></div>
            <div class="icon-download"><span>icon-download</span></div>
            <div class="icon-th-large"><span>icon-th-large</span></div>
            <div class="icon-tag"><span>icon-tag</span></div>
            <div class="icon-bug"><span>icon-bug</span></div>
            <div class="icon-cube"><span>icon-cube</span></div>
            <div class="icon-star"><span>icon-star</span></div>
            <div class="icon-star-o"><span>icon-star-o</span></div>
            <div class="icon-ban"><span>icon-ban</span></div>
            <div class="icon-checkbox"><span>icon-checkbox</span></div>
            <div class="icon-toggle-off"><span>icon-toggle-off</span></div>
            <div class="icon-toggle-on"><span>icon-toggle-on</span></div>
            <div class="icon-wifi-alert"><span>icon-wifi-alert</span></div>
            <div class="icon-file-certified"><span>icon-file-certified</span></div>
            <div class="icon-instrument-icon"><span>icon-instrument-icon</span></div>
            <div class="icon-culture"><span>icon-culture</span></div>
            <div class="icon-culture-linked"><span>icon-culture-linked</span></div>
            <div class="icon-empty-cube"><span>icon-empty-cube</span></div>
            <div class="icon-empty-cube-linked"><span>icon-empty-cube-linked</span></div>
            <div class="icon-custom-ifa-linked-tag"><span>icon-custom-ifa-linked-tag</span></div>
            <div class="icon-custom-ifa-tag"><span>icon-custom-ifa-tag</span></div>
            <div class="icon-custom-linked-tag"><span>icon-custom-linked-tag</span></div>
            <div class="icon-custom-tag"><span>icon-custom-tag</span></div>
            <div class="icon-profile"><span>icon-profile</span></div>
            <div class="icon-plus-thin"><span>icon-plus-thin</span></div>
            <div class="icon-minus-thin"><span>icon-minus-thin</span></div>
            <div class="icon-book"><span>icon-book</span></div>
            <div class="icon-modulab"><span>icon-modulab</span></div>
            <div class="icon-lock"><span>icon-lock</span></div>
            <div class="icon-sample_slim"><span>icon-sample_slim</span></div>
            <div class="icon-sample"><span>icon-sample</span></div>
            <div class="icon-empty"><span>icon-empty</span></div>
            <div class="icon-empty_pos"><span>icon-empty_pos</span></div>
            <div class="icon-chart"><span>icon-chart</span></div>
            <div class="icon-layer"><span>icon-layer</span></div>
            <div class="icon-flag"><span>icon-flag</span></div>
            <div class="icon-asterisc"><span>icon-asterisc</span></div>
            <div class="icon-excel"><span>icon-excel</span></div>
            <div class="icon-user"><span>icon-user</span></div>
            <div class="icon-user-male"><span>icon-user-male</span></div>
            <div class="icon-user-female"><span>icon-user-female</span></div>
            <div class="icon-lan"><span>icon-lan</span></div>
            <div class="icon-process"><span>icon-process</span></div>
            <div class="icon-microsoft-word"><span>icon-microsoft-word</span></div>
            <div class="icon-microsoft-excel"><span>icon-microsoft-excel</span></div>
            <div class="icon-microsoft-powerpoint"><span>icon-microsoft-powerpoint</span></div>
            <div class="icon-adobe-acrobat-reader"><span>icon-adobe-acrobat-reader</span></div>            
            <div class="icon-wifi"><span>icon-wifi</span></div>
            <div class="icon-comment"><span>icon-comment</span></div>
            <div class="icon-spinner"><span>icon-spinner</span></div>
            <div class="icon-price-tag"><span>icon-price-tag</span></div>
            <div class="icon-tree"><span>icon-tree</span></div>
            <div class="icon-loop2"><span>icon-loop2</span></div>
            <div class="icon-export"><span>icon-export</span></div>
            <div class="icon-redo2"><span>icon-redo2</span></div>
            <div class="icon-spinner11"><span>icon-spinner11</span></div>
            <div class="icon-clock"><span>icon-clock</span></div>



      </div>
<style>
    .icon-gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
    }
    .icon-gallery div {
        border: 1px solid var(--gray-light-color);
        font-size: 32px;
        
        padding: 20px 15px;
        align-items: center;
        text-align: center;
        border-radius: 4px;
    }
    .icon-gallery div span {
        display: block;
        font-size: .8rem;
        font-family: lato;
        margin-top: 10px;
    }
</style>