<h1>Datepicker</h1>
<p>Pickers are used to display past, present, or future dates or times. The kind of date (exact, approximate, memorable) you are requesting from the user will determine which picker is best to use. Each picker’s format can be customized depending on location or need.</p>

<h2 id="when-yo-use">When to use</h2>
<p>
  Use date and time pickers when you are asking the user for a time or date, or for scheduling tasks.
</p>


<h2 id="anatomy">Anatomy</h2>
<div class="row">
  <div class="col-12">
    <img src="components/datepicker/images/anatomy.svg">
  </div>
</div>

<div><b>1. Label:</b> Instructs the user what to do with the control.</div>
<div><b>2. Date field:</b> A text indivut field where the user can manually tydive in the date.</div>
<div><b>3. Icon:</b> <i>fa-calendar-day</i> icon indicates the calendar menu is available.</div>
<div><b>4. Calendar:</b> The menu where a date may be selected.</div>
<div><b>5. Month and year label:</b> Indicate the current year and month frame.</div>
<div><b>6. Previous and next month/year controls:</b> Allows the user to move forward or backward time. </div>
<div><b>7. Day:</b> Days in the month</div>
