<h1>Message popup</h1>
<p>
  Focus the user’s attention exclusively on one task or piece of information via a window.
</p>

<h2 id="overview">Overview</h2>
<ul>
  <li>Message popup are a variant of dialog used to present critical information or request user input needed to complete a user’s workflow.</li>
  <li>Message popup interrupt a user’s workflow by design.</li>
  <li>When active, a user is blocked from the on-page content and cannot return to their previous workflow until the modal task is completed or the user dismisses the modal.
  </li>
</ul>

<p>Per defecte els message popup utilitzen la mida petita del dialog</p>

<h3>When to use</h3>

<ul>
  <li><b>Notify the user of urgent information:</b> <br>Use a modal dialog to notify the user of urgent information concerning their current work. Modal dialogs are commonly used to report system errors or convey a consequence of a user’s action.</li>
  <li><b>Confirm a user decision: </b><br>Use a modal dialog to confirm user decisions. Clearly describe the action being confirmed and explain any potential consequences that it may cause. Both the title and the button should reflect the action that will occur. If the action is destructive or irreversible then use a transactional danger modal.</li>
</ul>

<hint>Message popup require the user to take an action to dismiss them.</hint>


<div class="d-flex justify-content-center mt-5">
  <img src="components/message-popup/images/warning.svg">
</div>

<h2 id="variants">Variants</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Variant</th>
      <th scope="col">Purpose</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <b>Warning</b>
          <p>Lorem ipusm</p>
      </td>
      <td>Filled</td>
    </tr> 
    <tr>
      <td>
          <b>Error</b>
          <p>Lorem ipusm</p>
      </td>
      <td>Filled</td>
    </tr> 
    <tr>
      <td>
          <b>Information</b>
          <p>Lorem ipusm</p>
      </td>
      <td>Filled</td>
    </tr> 
    <tr>
      <td>
          <b>Question</b>
          <p>Lorem ipusm</p>
      </td>
      <td>Filled</td>
    </tr> 
  </tbody>
</table>







