<h1>Message popup</h1>
<p>
  Focus the user’s attention exclusively on one task or piece of information via a window.
</p>

<div class="d-flex justify-content-center mt-5">
  <img src="components/message-popup/images/warning.svg">
</div>


<h2 id="overview">Overview</h2>
<ul>
  <li>Message popup are a variant of dialog used to present critical information or request user input needed to complete a user’s workflow.</li>
  <li>Message popup interrupt a user’s workflow by design.</li>
  <li>When active, a user is blocked from the on-page content and cannot return to their previous workflow until the modal task is completed or the user dismisses the modal.
  </li>
  <li>Message popup use a small size of dialog</li>
</ul>



<h3>When to use</h3>

<ul>
  <li><b>Notify the user of urgent information:</b> <br>Use a modal dialog to notify the user of urgent information concerning their current work. Modal dialogs are commonly used to report system errors or convey a consequence of a user’s action.</li>
  <li><b>Confirm a user decision: </b><br>Use a modal dialog to confirm user decisions. Clearly describe the action being confirmed and explain any potential consequences that it may cause. Both the title and the button should reflect the action that will occur. If the action is destructive or irreversible then use a transactional danger modal.</li>
</ul>

<hint>Message popup require the user to take an action to dismiss them.</hint>

<h3>A warning message vs. an error message</h3>
<p>
  An error message alerts people of a problem that has already occurred. By contrast, a warning message alerts people of a condition that might cause a problem in the future. 
</p>
<h2 id="variants">Variants</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Variant</th>
      <th scope="col">Purpose</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <b>Warning</b>
      </td>
      <td>
        
        Warning modals appear in anticipation of a significant change. Have empathy for people. Inform, but don't alarm. If the warning comes before an action, clearly communicate what will happen if they proceed, and provide an alternative or opt-out where possible.
        <p>
          Use a warning section message to help users:
        </p>
        <ul>
          <li>Avoid errors</li>
          <li>Manage authentication issues</li>
          <li>Take the actions needed to avoid potentially dangerous actions</li>
          <li>Feel certain they're making the decision, for example, in confirmation modals</li>
        </ul>
      </td>
    </tr> 
    <tr>
      <td>
          <b>Error</b>
          
      </td>
      <td>
        System anomalies, something didn’t work
        <p>
          Use an error section message to let the user know when:
        </p>
        <ul>
          <li>Something destructive or critical has happened</li>
          <li>Access has been denied</li>
          <li>there are connectivity issues</li>
        </ul>
      </td>
    </tr> 
    <tr>
      <td>
          <b>Information</b>
      </td>
      <td>
        <p>
          The information section message is the default appearance used to signify a change in state or important information.
        </p>
      </td>
    </tr> 
    <tr>
      <td>
          <b>Question</b>
      </td>
      <td>Confirmations (potentially destructive actions that need user confirmation to proceed)</td>
    </tr> 
  </tbody>
</table>


<div class="d-flex justify-content-center mt-5">
  <img src="components/message-popup/images/warning-longtext.svg">
</div>
<div class="d-flex justify-content-center mt-5">
  <img src="components/message-popup/images/error.svg">
</div>

<div class="d-flex justify-content-center mt-5">
  <img src="components/message-popup/images/information.svg">
</div>

<div class="d-flex justify-content-center mt-5">
  <img src="components/message-popup/images/question.svg">
</div>








