<h1>Button</h1>
<p>Systelab components includes four types of button components.</p>
<p>Buttons communicate actions that
    users can take. They are typically
    placed throughout your UI</p>
<p>
    Buttons are just one option for
    representing actions in a product and
    shouldn’t be overused. Too many buttons
    on a screen disrupts the visual hierarchy.</p>

<hint>
    Don’t clutter your UI with too many buttons.
    Consider presenting lower-priority actions
</hint>


<h2 id="placement">Placement</h2>

<h3>Standard dialogs</h3>


<p>Button alignment on screen: right</p>

<p>Place the affirmative button on the right, the dismissive button on the left.</p>

<h3>Forms</h3>

<p>Button alignment on screen: Left</p>

<p>Place the affirmative button on the left, the dismissive button on the right.</p>

<h3>Cards</h3>

<p>Buttons are best placed on the left side of a card to increase their visibility. However, as cards have flexible layouts, buttons may be placed in a location suited to the content and context, while maintaining consistency within the product.</p>

<h3>Non-standard dialogs and modal windows</h3>

<p>Button placement in non-standard dialogs and modal windows depends on the complexity of the content they contain.</p>

<p>For dialogs with relatively simple content, it is recommended to place buttons on the right side of a dialog, with the affirmative button to the right of the dismissive button.</p>

<p>For lengthy or complex forms, it is recommended to place buttons on the left of the form, with the affirmative button to the left of the dismissive button.</p>

<h2 id="hierarchy">Hierarchy</h2>

<h3>Primary action button</h3>


<p>Each screen should contain a single prominent button for the
    primary action. This high-emphasis button commands the most
    attention. The arrangement of on-screen elements should
    clearly communicate that other buttons are less important.</p>

<h3>Other buttons</h3>


<p>A product can show more than one button at a time in a layout.
    When using multiple buttons, ensure the available state of one
    button doesn’t resemble the disabled state of another.</p>
