<h1>Text input</h1>
<p>
    Text inputs enable the user to interact with and input content and data. This component can be used for long and short form entries.
</p>



<h2 id="overview">Overview</h2>
There are instances, sometimes in the same form, where you need users to enter both short and long form content. Allow the size of the text input box to reflect the length of the content you expect the user to enter.

<div class="d-flex justify-content-center flex-column my-5 align-items-center">
    <img src="components/text-input/images/input.svg">
    <img src="components/text-input/images/textarea.svg" class="mt-5">
</div>


<table class="table">
    <thead>
      <tr>
        <th>Variant</th>
        <th>Purpose</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Text input</b></td>
        <td>
            When the expected user input is a single line of text, as opposed to a paragraph.
        </td>
      </tr>
      <tr>
        <td><b>Text area</b></td>
        <td>
            When the expected user input is more than one sentence.
        </td>
      </tr>
    </tbody>
</table>















<h2 id="content">Content</h2>
<h3>Labels</h3>
<p>
    Effective form labeling helps users understand what information to enter into a text input. Using placeholder text in lieu of a label is sometimes employed as a space-saving method. However, this is not recommended because it hides context and presents accessibility issues.


</p>

<h3>Helper text</h3>
<p>
    Helper text is pertinent information that assists the user in completing a field. Helper text is always available when the input is focused and appears underneath the label. Use sentence-style capitalization, and in most cases, write the text as full sentences with punctuation.
</p>

<h3>Placeholder text</h3>
<p>
    Placeholder text provides hints or examples of what to enter. Placeholder text disappears after the user begins entering data into the input and should not contain crucial information. Use sentence-style capitalization, and in most cases, write the text as a direct statement without punctuation.
</p>




<h2 id="validation">Validation</h2>
<p>
    Real-time validation helps to streamline the process and keep data clean when the user is filling out forms.
</p>


<div class="d-flex justify-content-center mt-5">
    <img src="components/text-input/images/invalid.svg">
</div>


