<h1>Slider</h1>
<p>Sliders allow users to make selections from a range of values.</p>
<div class="d-flex justify-content-center">
    <img src="components/slider/images/slider.png">
</div>
<h2 id="principles">Principles</h2>
<p>Sliders allow users to view and select a value (or range) from the range along a bar.
    They’re ideal for adjusting settings such as volume and brightness, or for applying image filters.</p>

<p>Sliders can use icons on both ends of the bar to represent a numeric or relative scale.
    The range of values or the nature of the values, such as volume change, can be communicated with icons.</p>

<h2 id="anatomy">Anatomy</h2>

<p>A slider can contain the following elements:</p>
<h3>Track</h3>
<p>The track shows the range that is available for a user to select from.
    For left-to-right (LTR) languages, the smallest value appears on the far left end of the track and the
    largest value is on the far right. For right-to-left (RTL) languages this orientation is reversed.</p>

<h3>Thumb</h3>
<p>The thumb is a position indicator that can be moved along the track,
    displaying the selected value of its position.</p>

<h3>Value label (optional)</h3>
<p>A value label displays the specific numeric value that corresponds with the thumb’s placement.</p>

<h3>Tick mark (optional)</h3>
<p>Tick marks along a track represent predetermined values that the user can move the slider to.</p>
