<h1>Breadcrumbs</h1>

<p>
    Breadcrumbs show hierarchy and navigational context for a user’s location within an app.
</p>

<div class="bg-light d-flex col-12 border p-4 rounded">
    <div class="text-center">
        <img src="components/breadcrumb/images/default.svg">
    </div>
</div>

<h2 id="overview">Overview</h2>

<p>
    Breadcrumbs show users their current location relative to the information architecture and enable them to quickly move up to a parent level or previous step.
</p>
<h3>When to use it</h3>
Breadcrumbs are effective in products and experiences that have a large amount of content organized in a hierarchy of more than two levels. They take up little space but still provide context for the user’s place in the navigation hierarchy.

<h3>When not to use</h3>
Breadcrumbs are always treated as secondary and should never entirely replace the primary navigation. They shouldn’t be used for products that have single level navigation because they create unnecessary clutter.

<hint>
    If you are taking users through a multistep process use a <a href="?components/wizard-steps">wizard steps</a> instead.
</hint>




<h2 id="placement">Placement</h2>
<div class="do-dont-row">
    <div>
        <img class="info" src="components/breadcrumb/images/placement.svg">
        <div>Breadcrumbs are placed in the top left portion of the page. They sit underneath the header and navigation, but above the page title.</div>
    </div>
    <div>
        <img class="info" src="components/breadcrumb/images/placement1.svg">
    </div>
</div>



<h2 id="content">Content</h2>
<ul>
    <li>Each page link should be short and clearly reflect the location or entity it links to.</li>
    <li>Start with the highest level parent page and move deeper into the information architecture as the breadcrumb trail progresses.</li>
</ul>
<div class="bg-light d-flex col-12 border p-4 rounded">
    <div class="text-center">
        <img src="components/breadcrumb/images/without-current-page.svg">
    </div>
</div>


<hint>By default, the current page is not listed in the breadcrumb trail.</hint>

<h3>Overflow content</h3>
<div class="bg-light d-flex col-12 border p-4 rounded">
    <div class="text-center">
        <img src="components/breadcrumb/images/overflow.svg">
    </div>
</div>


<h3>Multiline</h3>
<p>
    The multiline variation places emphasis on the selected breadcrumb item as a page title, helping a user to more clearly identify their current location.
</p>
<div class="bg-light d-flex col-12 border p-4 rounded">
    <div class="text-center">
        <img src="components/breadcrumb/images/multiline.svg">
    </div>
</div>




<h2 id="style">Style</h2>

<div class="do-dont-row">
    <div>
        <img class="dont" src="components/breadcrumb/images/icons-dont.svg">
        <div>Don't use icons within breadcrumbs. Since breadcrumbs are horizontally distributed, icons disrupt the rhythm and readability of the list.</div>
    </div>
</div>
