<h1>Switch</h1>
<p>Switches are the preferred way to adjust settings. They're used to control binary options: think On/Off or True/False.</p>
<h2 id="principles">Principles</h2>
<p>
    Use switches to:
<ul>
    <li>Toggle a single item on or off</li>
    <li>Immediately activate or deactivate something</li>
</ul>

<h2 id="anatomy">Anatomy</h2>
<p>A switch is composed by a track and a thumb and a mandatory label text.</p>
<h3>Label text</h3>
<p>Switches should always be paired with an inline label describing the option that the switch controls, as well as its state.</p>
<p>Label shoud be paced in the left.</p>
<h2 id="placement">Placement</h2>
<p>Switches are often arranged in stacked layouts.</p>

<h2 id="behaviour">Behaviour</h2>
<p>A switch is successfully toggled when the switch thumb slides to the other side of the track upon user interaction.
</p>
<p>When a user toggles a switch, its thumb size changes and the corresponding action takes effect immediately.
</p>
