<h1>Color System</h1>
<p>Maintaining consistent and engaging digital interfaces throughout Werfen, whether applications or experiences, demands extended guidance around color usage. The following concepts provide the foundation as we strive to achieve balance and harmony through our User Interface design.</p>


<h2 id="introduction">Introduction</h2>
<p>
    The neutral gray family is dominant in the default themes, making use of subtle shifts in value to organize content into distinct zones.

The core blue family serves as the primary action color across all Werfen products and experiences. Additional colors are used sparingly and purposefully.
</p>

<p></p>
<h2 id="base-colors">Base, primary and secondary colors</h2>
<p>The bulleted color swatches indicate colors that are part of the Werfen base color palette. You will find these colors in use throughout Werfen's components and design recommendations.

    The large color swatches represent Werfen primary colors, recommended for use as the main color for your design. The remaining colors are considered secondary. They may be used for charts, graphs, illustrations and other areas that call for color accent.
</p>
<div class="color-palettes">
    <div class="palette neutral">
        <h5>Neutral</h5>

        <div class="neutral-100">
            <div>100</div>
            <div>#F8F8F8</div>
        </div>
        <div class="neutral-200 used">
            <div>200</div>
            <div>#E3E3E3</div>
        </div>
        <div class="neutral-300 used">
            <div>300</div>
            <div>#D8D8D8</div>
        </div>
        <div class="neutral-400">
            <div>400</div>
            <div>#BBBBBB</div>
        </div>
        <div class="neutral-500 used">
            <div>500</div>
            <div>#AAAAAA</div>
        </div>
        <div class="neutral-600 used">
            <div>600</div>
            <div>#979797</div>
        </div>
        <div class="neutral-700">
            <div>700</div>
            <div>#848484</div>
        </div>
        <div class="neutral-800">
            <div>800</div>
            <div>#6A6A6A</div>
        </div>
        <div class="neutral-900 used">
            <div>900</div>
            <div>#3F3F3F</div>
        </div>
        <div class="neutral-1000">
            <div>1000</div>
            <div>#000000</div>
        </div>
        
    </div>
    <div class="palette primary">
        <h5>Primary</h5>
        <div class="primary-100">
            <div>100</div>
            <div>#F2FAFF</div>
        </div>
        <div class="primary-200">
            <div>200</div>
            <div>#DFF5FF</div>
        </div>
        <div class="primary-300">
            <div>300</div>
            <div>#77B8FF</div>
        </div>
        <div class="primary-400 used">
            <div>400</div>
            <div>#4BACF1</div>
        </div>
        <div class="primary-500 used">
            <div>500</div>
            <div>#008DF2</div>
        </div>
        <div class="primary-600">
            <div>600</div>
            <div>#0064D1</div>
        </div>
        <div class="primary-700">
            <div>700</div>
            <div>#0054AF</div>
        </div>
        <div class="primary-800">
            <div>800</div>
            <div>#004188</div>
        </div>
        <div class="primary-900">
            <div>900</div>
            <div>#012A56</div>
        </div>
        <div class="primary-1000">
            <div>1000</div>
            <div>#002043</div>
        </div>
        
    </div>

    <div >
        
    </div>


    <div class="palette danger">
        <h5>Danger</h5>
        <div class="danger-100">
            <div>100</div>
            <div>#FFE1E0</div>
        </div>
        <div class="danger-200">
            <div>200</div>
            <div>#FEAEAB</div>
        </div>
        <div class="danger-300">
            <div>300</div>
            <div>#FC817E</div>
        </div>
        <div class="danger-400">
            <div>400</div>
            <div>#FF6C68</div>
        </div>
        <div class="danger-500 used">
            <div>500</div>
            <div>#FF4944</div>
        </div>
        <div class="danger-600">
            <div>600</div>
            <div>#FE3631</div>
        </div>
        <div class="danger-700">
            <div>700</div>
            <div>#F5221D</div>
        </div>
        <div class="danger-800">
            <div>800</div>
            <div>#E81C16</div>
        </div>
        <div class="danger-900">
            <div>900</div>
            <div>#D7110C</div>
        </div>
        <div class="danger-1000">
            <div>1000</div>
            <div>#AA0702</div>
        </div>    
    </div>


    <div class="palette warning">
        <h5>Warning</h5>
        <div class="warning-100">
            <div>100</div>
            <div>#FFF3C8</div>
        </div>
        <div class="warning-200">
            <div>200</div>
            <div>#FFECAB</div>
        </div>
        <div class="warning-300">
            <div>300</div>
            <div>#FFE27C</div>
        </div>
        <div class="warning-400">
            <div>400</div>
            <div>#FFDB5F</div>
        </div>
        <div class="warning-500 used">
            <div>500</div>
            <div>#FFD236</div>
        </div>
        <div class="warning-600">
            <div>600</div>
            <div>#FFCA14</div>
        </div>
        <div class="warning-700 used">
            <div>700</div>
            <div>#F7BD53</div>
        </div>
        <div class="warning-800">
            <div>800</div>
            <div>#E9B607</div>
        </div>
        <div class="warning-900">
            <div>900</div>
            <div>#CFA100</div>
        </div>
        <div class="warning-1000">
            <div>1000</div>
            <div>#B28A00</div>
        </div>
        
    </div>

    <div class="palette success">
        <h5>Success</h5>
        <div class="success-100">
            <div>100</div>
            <div>#F4F6EB</div>
        </div>
        <div class="success-200">
            <div>200</div>
            <div>#F0F4DE</div>
        </div>
        <div class="success-300">
            <div>300</div>
            <div>#E4EDBA</div>
        </div>
        <div class="success-400">
            <div>400</div>
            <div>#D2E18F</div>
        </div>
        <div class="success-500 used">
            <div>500</div>
            <div>#C2D95D</div>
        </div>
        <div class="success-600">
            <div>600</div>
            <div>#B1CE33</div>
        </div>
        <div class="success-700">
            <div>700</div>
            <div>#A6C811</div>
        </div>
        <div class="success-800">
            <div>800</div>
            <div>#869F16</div>
        </div>
        <div class="success-900">
            <div>900</div>
            <div>#576A00</div>
        </div>
        <div class="success-1000">
            <div>1000</div>
            <div>#415000</div>
        </div>
        
    </div>
</div>
<h2 id="functional-colors">Functional colors</h2>
<p>
    Werfen components use a set of colors to convey certain functions and meanings. These colors have been vetted and tested to meet the accessibility standard for low vision.
</p>

<div class="color-palettes">
    <div class="palette">
        <h5>Background & borders</h5>
        <div class="neutral-200">
            <div>200</div>
            <div>#E3E3E3</div>
        </div>
        <div class="neutral-300">
            <div>300</div>
            <div>#D8D8D8</div>
        </div>
        <div class="neutral-600">
            <div>600</div>
            <div>#979797</div>
        </div>

    </div>

    <div class="palette">
        <h5>Typography</h5>
        <div class="neutral-800">
            <div>800</div>
            <div>#6A6A6A</div>
        </div>
        <div class="neutral-900">
            <div>900</div>
            <div>#3F3F3F</div>
        </div>
        <div class="neutral-1000">
            <div>1000</div>
            <div>#000000</div>
        </div>
    </div>
    <div class="palette">
        <h5>Buttons</h5>
        <div class="primary-400">
            <div>400</div>
            <div>#4BACF1</div>
        </div>
        <div class="primary-500">
            <div>500</div>
            <div>#008DF2</div>
        </div>
        <div class="neutral-700">
            <div>700</div>
            <div>#848484</div>
        </div>
        <div class="neutral-800">
            <div>800</div>
            <div>#6A6A6A</div>
        </div>
        <div class="danger-500">
            <div>500</div>
            <div>#FF4944</div>
        </div>
    </div>
    <div class="palette">
        <h5>Labels and badges</h5>
        <div class="success-500">
            <div>500</div>
            <div>#C2D95D</div>
        </div>
        <div class="primary-400">
            <div>400</div>
            <div>#4BACF1</div>
        </div>
        <div class="primary-800">
            <div>800</div>
            <div>#004188</div>
        </div>
        <div class="neutral-1000">
            <div>1000</div>
            <div>#000000</div>
        </div>
    </div>
</div>

<h2 id="color-usage">Color usage</h2>
<h3>Base Colors</h3>
<p>Colors used in Werfen components and design recommendations.
    <ul>
        <li>Neutral colors are for text and backgrounds.</li>
        <li>Action colors are for clickable items, such as buttons and links. Action Blue is reserved for buttons and links.</li>
        <li>Stoplight colors are for indicating error conditions, warnings, and successes. Significant colors include: Stoplight Green for positive actions; Stoplight Red for warnings and errors.</li>
    </ul>
</p>

<h2 id="choosing-colors">Choosing colors</h2>
<h3>Text contrast</h3>
<p>
Each color swatch in the palette is labeled with a black or white letter A to indicate its accessibility on the background color.
</p>
<hint>
    Other text colors should be tested for contrast using an online contrast checker to make sure it passes the WCAG AA requirement for accessibility
</hint>

    <div class="do-dont-row">
        <div>
            <img class="do" src="components/color-system/images/do.jpg">
            <div>Use functional colors correctly</div>
        </div>
        <div>
            <img class="dont" src="components/color-system/images/dont.jpg">
            <div>Do not apply functional colors in titles headings</div>
        </div>
    </div>


<style>
    .color-palettes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
        margin: 2rem 0;
    }

    .palette > div {
        padding: 0 .5rem;
        height: 42px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .palette > h5 {
        font-size: 1rem;
    }

    .used {
        border-left: 4px solid rgba(0,0,0,.5);
    }

    .neutral-100 { background-color: #F8F8F8; }
    .neutral-200 { background-color: #E7E7E7; }
    .neutral-300 { background-color: #D8D8D8; }
    .neutral-400 { background-color: #BBBBBB; }
    .neutral-500 { background-color: #AAAAAA; }
    .neutral-600 { background-color: #979797; }
    .neutral-700 { background-color: #848484; }
    .neutral-800 { background-color: #6A6A6A; color: white; }
    .neutral-900 { background-color: #3F3F3F; color: white; }
    .neutral-1000 { background-color: #000000; color: white; }

    
    .primary-100 { background-color: #F2FAFF; }
    .primary-200 { background-color: #DFF5FF; }
    .primary-300 { background-color: #7BD6FF; }
    .primary-400 { background-color: #46BEF5; }
    .primary-500 { background-color: #008DF2; }
    .primary-600 { background-color: #0064D1; color: white; }
    .primary-700 { background-color: #0054AF; color: white; }
    .primary-800 { background-color: #004188; color: white; }
    .primary-900 { background-color: #012A56; color: white; }
    .primary-1000 { background-color: #002043; color: white; }

    .danger-100 { background-color: #FFE1E0; }
    .danger-200 { background-color: #FEAEAB; }
    .danger-300 { background-color: #FC817E; }
    .danger-400 { background-color: #FF6C68; }
    .danger-500 { background-color: #EC5252; }
    .danger-600 { background-color: #FE3631; }
    .danger-700 { background-color: #F5221D; }
    .danger-800 { background-color: #E81C16; color: white; }
    .danger-900 { background-color: #D7110C; color: white; }
    .danger-1000 { background-color: #AA0702; color: white;}
    
    .warning-100 { background-color: #FFF3C8; }
    .warning-200 { background-color: #FFECAB; }
    .warning-300 { background-color: #FFE27C; }
    .warning-400 { background-color: #FFDB5F; }
    .warning-500 { background-color: #FFCF44; }
    .warning-600 { background-color: #FFCA14; }
    .warning-700 { background-color: #F7BD53; }
    .warning-800 { background-color: #F5A623; }
    .warning-900 { background-color: #F59B04; }
    .warning-1000 { background-color: #D38400; }

    .success-100 { background-color: #F4F6EB; }
    .success-200 { background-color: #F0F4DE;}
    .success-300 { background-color: #E4EDBA; }
    .success-400 { background-color: #D2E18F; }
    .success-500 { background-color: #C2D95D; }
    .success-600 { background-color: #B1CE33; }
    .success-700 { background-color: #A6C811; }
    .success-800 { background-color: #869F16; }
    .success-900 { background-color: #576A00; color: white;}
    .success-1000 { background-color: #415000; color: white;}

</style>