<h1>Color System</h1>
<p>Maintaining consistent and engaging digital interfaces throughout Systelab Components, whether applications or experiences, demands extended guidance around color usage. The following concepts provide the foundation as we strive to achieve balance and harmony through our User Interface design.</p>


<h2 id="overview">Overview</h2>
<p>
    The neutral gray family is dominant in the default themes, making use of subtle shifts in value to organize content into distinct zones.

The core blue family serves as the primary action color across all Systelab Components products and experiences. Additional colors are used sparingly and purposefully.
</p>


<h2 id="main-palette">Main palette</h2>
<p>
    The primary palette is composed of grey, black, white and blue to bring boldness to our brand and is used in logical ways throughout product  to guide the eye and highlight the important bits.
</p>
<ul>
    <li>
        Primary color utilized on the principal actions on the application, for  buttons,  benefits icons, submit actions, download forms, and to highlight other relevant information.

    </li>
    <li>
        Secondary color used to highlight the less critical information, such as subheadings, supporting contents, secondary buttons.
    </li>
</ul>


<div class="color-palettes">
    <div class="p-3 primary-600">
        <div><strong>Primary color</strong></div>
        <div>#0064D1</div>
        <div>blue-600</div>
    </div>
    <div class="p-3 neutral-800">
        <div><strong>Secondary color</strong></div>
        <div>#6A6A6A</div>
        <div>neutral-800</div>
    </div>
    <div class="p-3 neutral-1000">
        <div><strong>Black</strong></div>
        <div>#000000</div>
    </div>
    <div class="p-3 border">
        <div><strong>White</strong></div>
        <div>#FFFFFF</div>
    </div>
</div>
<hint>
    A color palette could be used as background color like in a badge, card, button, border or as a font color.
</hint>


    <div class="color-palettes-main  u-gap-y-2">
        <div class="palette primary">
            <h5>Blue</h5>
            <div class="primary-100">
                <div>100</div>
                <div>#F2FAFF</div>
            </div>
            <div class="primary-200">
                <div>200</div>
                <div>#DFF5FF</div>
            </div>
            <div class="primary-300">
                <div>300</div>
                <div>#7BD6FF</div>
            </div>
            <div class="primary-400">
                <div>400</div>
                <div>#4BACF1</div>
            </div>
            <div class="primary-500">
                <div>500</div>
                <div>#158FEF</div>
            </div>
            <div class="primary-600 used">
                <div>600</div>
                <div>#0064D1</div>
            </div>
            <div class="primary-700">
                <div>700</div>
                <div>#0054AF</div>
            </div>
            <div class="primary-800">
                <div>800</div>
                <div>#004188</div>
            </div>
            <div class="primary-900">
                <div>900</div>
                <div>#012A56</div>
            </div>
            <div class="primary-1000">
                <div>1000</div>
                <div>#002043</div>
            </div>
            
        </div>

        <div class="palette neutral">
            <h5>Neutral</h5>

            <div class="neutral-100">
                <div>100</div>
                <div>#F4F4F4</div>
            </div>
            <div class="neutral-200 ">
                <div>200</div>
                <div>#E3E3E3</div>
            </div>
            <div class="neutral-300 ">
                <div>300</div>
                <div>#D8D8D8</div>
            </div>
            <div class="neutral-400">
                <div>400</div>
                <div>#BBBBBB</div>
            </div>
            <div class="neutral-500 ">
                <div>500</div>
                <div>#AAAAAA</div>
            </div>
            <div class="neutral-600 ">
                <div>600</div>
                <div>#979797</div>
            </div>
            <div class="neutral-700">
                <div>700</div>
                <div>#848484</div>
            </div>
            <div class="neutral-800">
                <div>800</div>
                <div>#6A6A6A</div>
            </div>
            <div class="neutral-900 used">
                <div>900</div>
                <div>#3F3F3F</div>
            </div>
            <div class="neutral-1000">
                <div>1000</div>
                <div>#000000</div>
            </div>
        </div>
    </div>

    <h2 id="additional-colors">Additional colors</h2>
    <p>
        The additional palette consists of all the useable tints and shades of each color in the palette. They are all numbered for easy reference. 
    </p>



    <div class="color-palettes">
        <div class="palette purple">
            <h5>Purple</h5>
            <div class="purple-100">
                <div>100</div>
                <div>#FAF6FF</div>
            </div>
            <div class="purple-200">
                <div>200</div>
                <div>#F3EBFF</div>
            </div>
            <div class="purple-300">
                <div>300</div>
                <div>#E1D1F8</div>
            </div>
            <div class="purple-400">
                <div>400</div>
                <div>#D1B6F8</div>
            </div>
            <div class="purple-500">
                <div>500</div>
                <div>#B28CE8</div>
            </div>
            <div class="purple-600">
                <div>600</div>
                <div>#A070E4</div>
            </div>
            <div class="purple-700">
                <div>700</div>
                <div>#8967D1</div>
            </div>
            <div class="purple-800">
                <div>800</div>
                <div>#785CB1</div>
            </div>
            <div class="purple-900">
                <div>900</div>
                <div>#7551A1</div>
            </div>
            <div class="purple-1000">
                <div>1000</div>
                <div>#644789</div>
            </div>
            
        </div>

        <div class="palette red">
            <h5>Red</h5>
            <div class="red-100">
                <div>100</div>
                <div>#FFE1E0</div>
            </div>
            <div class="red-200">
                <div>200</div>
                <div>#FEAEAB</div>
            </div>
            <div class="red-300">
                <div>300</div>
                <div>#FC817E</div>
            </div>
            <div class="red-400">
                <div>400</div>
                <div>#FF6C68</div>
            </div>
            <div class="red-500 used">
                <div>500</div>
                <div>#FF4944</div>
            </div>
            <div class="red-600">
                <div>600</div>
                <div>#EF3B37</div>
            </div>
            <div class="red-700">
                <div>700</div>
                <div>#F5221D</div>
            </div>
            <div class="red-800">
                <div>800</div>
                <div>#E81C16</div>
            </div>
            <div class="red-900">
                <div>900</div>
                <div>#D7110C</div>
            </div>
            <div class="red-1000">
                <div>1000</div>
                <div>#AA0702</div>
            </div>    
        </div>


        <div class="palette yellow">
            <h5>Yelllow</h5>
            <div class="yellow-100">
                <div>100</div>
                <div>#FFF3C8</div>
            </div>
            <div class="yellow-200">
                <div>200</div>
                <div>#FFECAB</div>
            </div>
            <div class="yellow-300">
                <div>300</div>
                <div>#FFE27C</div>
            </div>
            <div class="yellow-400">
                <div>400</div>
                <div>#FFDB5F</div>
            </div>
            <div class="yellow-500 used">
                <div>500</div>
                <div>#FFD236</div>
            </div>
            <div class="yellow-600">
                <div>600</div>
                <div>#FFCA14</div>
            </div>
            <div class="yellow-700">
                <div>700</div>
                <div>#F7BD53</div>
            </div>
            <div class="yellow-800">
                <div>800</div>
                <div>#F5A623</div>
            </div>
            <div class="yellow-900">
                <div>900</div>
                <div>#E59A1B</div>
            </div>
            <div class="yellow-1000">
                <div>1000</div>
                <div>#D38400</div>
            </div>
            
        </div>

        <div class="palette green">
            <h5>Green</h5>
            <div class="green-100">
                <div>100</div>
                <div>#F4F6EB</div>
            </div>
            <div class="green-200">
                <div>200</div>
                <div>#F0F4DE</div>
            </div>
            <div class="green-300">
                <div>300</div>
                <div>#E4EDBA</div>
            </div>
            <div class="green-400">
                <div>400</div>
                <div>#D2E18F</div>
            </div>
            <div class="green-500 used">
                <div>500</div>
                <div>#C2D95D</div>
            </div>
            <div class="green-600">
                <div>600</div>
                <div>#B1CE33</div>
            </div>
            <div class="green-700">
                <div>700</div>
                <div>#A6C811</div>
            </div>
            <div class="green-800">
                <div>800</div>
                <div>#869F16</div>
            </div>
            <div class="green-900">
                <div>900</div>
                <div>#576A00</div>
            </div>
            <div class="green-1000">
                <div>1000</div>
                <div>#415000</div>
            </div>
            
        </div>
    </div>

    <h2 id="alert-colors">Alert colors</h2>
    <p>
        Alert colors are for indicating error conditions, warnings, and successes, include: Green for positive actions, yellow for warnings and red for errors.
    </p>
    <hint>
        Could be used as background color like in a badge, background, card, button or borders.
    </hint>
    <div class="color-palettes">
        <div class="p-3 red-500">
            <div><strong>Danger color</strong></div>
            <div>red-500</div>
        </div>
        <div class="p-3 yellow-500">
            <div><strong>Warning color</strong></div>
            <div>yellow-500</div>
        </div>
        <div class="p-3 green-500">
            <div><strong>Success color</strong></div>
            <div>green-500</div>
        </div>
    </div>
    


    
    <h3>In text application:</h3>
    Due to the little contrast they offer warning an success colors, especially with small text, avoid text with warning and success colors. Use the icon with the appropriate color and the text with gray-900
    
    <div class="color-palettes mt-4">
<div class="danger">
    <div><img class="mr-2" src="components/color-system/images/error.svg">Error message </div>
    <div class="mt-3 black">Icon: red-500</div>
    <div class=" black">Text: red-800</div>
    
</div>

    <div class="warning">
        <div><img class="mr-2" src="components/color-system/images/warning.svg"> Warning message</div>
        <div class="mt-3 black">Icon: yellow-500</div>
    <div class=" black">Text: neutral-900</div>
</div>

    <div class="success">
        <div><img class="mr-2" src="components/color-system/images/success.svg"> Success message</div>
        <div class="mt-3 black">Icon: green-500</div>
    <div class=" black">Text: neutral-900</div>
    </div>
</div>

    <hint>Danger could be used as text. It pass the accesibility AA</hint>
<h2 id="common-used-colors">Common used colors</h2>
<div class="color-palettes-common gy-4">
    <div class="palette">
        <h5>Background and borders</h5>
        <div class="neutral-100">
            <div>neutral-100</div>
            <div>#F4F4F4</div>
        </div>
        <div class="neutral-300">
            <div>neutral-300</div>
            <div>#D8D8D8</div>
        </div>
        <div class="neutral-600">
            <div>neutral-600</div>
            <div>#979797</div>
        </div>

    </div>

    <div class="palette">
        <h5>Typography</h5>
        <div class="font-neutral-800">
            <div>neutral-800</div>
            <div>#6A6A6A</div>
        </div>
        <div class="font-neutral-900">
            <div>neutral-900</div>
            <div>#3F3F3F</div>
        </div>
        <div class="font-neutral-1000">
            <div>black</div>
            <div>#000000</div>
        </div>
    </div>
    <div class="palette">
        <h5>Labels and badges</h5>
        <div class="green-500">
            <div>green-500</div>
            <div>#C2D95D</div>
        </div>
        <div class="red-500">
            <div>red-500</div>
            <div>#FF4944</div>
        </div>
        <div class="purple-800">
            <div>purple-800</div>
            <div>#785CB1</div>
        </div>
        <div class="neutral-1000">
            <div>black</div>
            <div>#000000</div>
        </div>
    </div>

</div>
<h3>
    Real use case of a card with a common colors:
</h3>

<img class="my-5 d-block mx-auto" src="components/color-system/images/usecase.svg">




<h2 id="usage">Usage</h2>
<h3>Base Colors</h3>
<p>Colors used in Systelab Components components and design recommendations.
    <ul>
        <li>Neutral colors are for text and backgrounds.</li>
        <li>Action colors are for clickable items, such as buttons and links. Action Blue is reserved for buttons and links.</li>
        <li>Alert colors are for indicating error conditions, warnings, and successes. Alert colors include: Green for positive actions, yellow for warnings and red for errors.</li>
    </ul>
</p>

<h2 id="choosing-colors">Choosing colors</h2>
<h3>Text contrast</h3>
<p>
Each color swatch in the palette is labeled with a black or white text to indicate its accessibility on the background color.
</p>
<hint>
    Other text colors should be tested for contrast using an online contrast checker to make sure it passes the WCAG AA requirement for accessibility
</hint>

    <div class="do-dont-row">
        <div>
            <img class="do" src="components/color-system/images/do.jpg">
            <div>Use functional colors correctly</div>
        </div>
        <div>
            <img class="dont" src="components/color-system/images/dont.jpg">
            <div>Do not apply functional colors in titles headings</div>
        </div>
    </div>


<style>

    .color-palettes-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }   

    .color-palettes-common {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }   


    .color-palettes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .palette > div {
        padding: 0 .5rem;
        height: 42px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f1f1f1;
    }

    .palette > div:last-child {
        border-bottom: none;
    }
    
    .palette > h5 {
        font-size: 1rem;
    }

    .used {
        border-left: 4px solid rgba(0,0,0,.5);
    }

    .neutral-100 { background-color: #F8F8F8; }
    .neutral-200 { background-color: #E7E7E7; }
    .neutral-300 { background-color: #D8D8D8; }
    .neutral-400 { background-color: #BBBBBB; }
    .neutral-500 { background-color: #AAAAAA; }
    .neutral-600 { background-color: #979797; }
    .neutral-700 { background-color: #848484; }
    .neutral-800 { background-color: #6A6A6A; color: white; }
    .neutral-900 { background-color: #3F3F3F; color: white; }
    .neutral-1000 { background-color: #000000; color: white; }

    .font-neutral-800 { color: #6A6A6A; }
    .font-neutral-900 { color: #3F3F3F; }
    .font-neutral-1000 { color: #000000; }


    .primary-100 { background-color: #F2FAFF; }
    .primary-200 { background-color: #DFF5FF; }
    .primary-300 { background-color: #7BD6FF; }
    .primary-400 { background-color: #46BEF5; }
    .primary-500 { background-color: #158fef; color: white;}
    .primary-600 { background-color: #0064D1; color: white; }
    .primary-700 { background-color: #0054AF; color: white; }
    .primary-800 { background-color: #004188; color: white; }
    .primary-900 { background-color: #012A56; color: white; }
    .primary-1000 { background-color: #002043; color: white; }

    .purple-100 { background-color: #FAF6FF; }
    .purple-200 { background-color: #F3EBFF; }
    .purple-300 { background-color: #E1D1F8; }
    .purple-400 { background-color: #D1B6F8; }
    .purple-500 { background-color: #B28CE8; }
    .purple-600 { background-color: #A070E4; }
    .purple-700 { background-color: #8967D1; color: white; }
    .purple-800 { background-color: #785CB1; color: white; }
    .purple-900 { background-color: #7551A1; color: white; }
    .purple-1000 { background-color: #644789; color: white; }

    .red-100 { background-color: #FFE1E0; }
    .red-200 { background-color: #FEAEAB; }
    .red-300 { background-color: #FC817E; }
    .red-400 { background-color: #FF6C68; }
    .red-500 { background-color: #FF4944; }
    .red-600 { background-color: #EF3B37; }
    .red-700 { background-color: #F5221D; }
    .red-800 { background-color: #E81C16; color: white; }
    .red-900 { background-color: #D7110C; color: white; }
    .red-1000 { background-color: #AA0702; color: white;}
    
    .yellow-100 { background-color: #FFF3C8; }
    .yellow-200 { background-color: #FFECAB; }
    .yellow-300 { background-color: #FFE27C; }
    .yellow-400 { background-color: #FFDB5F; }
    .yellow-500 { background-color: #FFCF44; }
    .yellow-600 { background-color: #FFCA14; }
    .yellow-700 { background-color: #F7BD53; }
    .yellow-800 { background-color: #F5A623; }
    .yellow-900 { background-color: #E59A1B; }
    .yellow-1000 { background-color: #D38400; }

    .green-100 { background-color: #F4F6EB; }
    .green-200 { background-color: #F0F4DE;}
    .green-300 { background-color: #E4EDBA; }
    .green-400 { background-color: #D2E18F; }
    .green-500 { background-color: #C2D95D; }
    .green-600 { background-color: #B1CE33; }
    .green-700 { background-color: #A6C811; }
    .green-800 { background-color: #869F16; }
    .green-900 { background-color: #576A00; color: white;}
    .green-1000 { background-color: #415000; color: white;}

    .danger {
        color: #e81c16
    }
    .warning, .success {
        color: #3F3F3F
    }
    .black {color: #000;}

</style>