<h1>File selector</h1>
<p>
  File selector allow users to select one or more files to upload to a specific location.
</p>


<h2 id="overview">Overview</h2>
<p>
  File uploaders allow users to upload content of their own. A file uploader is commonly found in forms, but can also live as a standalone element.
</p>
<div class="d-flex justify-content-center flex-column my-5 align-items-center">
    <img src="components/file-selector/images/upload-empty.svg">
</div>
<hint>For the file selector layout follow the <a href="?components/forms">form</a> style guide</hint>

<h2 id="anatomy">Anatomy</h2>

<p>
  File selector follow the same pattern as input text
</p>

<div class="d-flex justify-content-center my-5">
  <img src="components/file-selector/images/anatomy.svg">
</div>
<div><b>1. Label:</b> Informs users about the purpose of the upload section. "Upload files" is the default text that appears with the file uploader.</div>
<div><b>2. Button:</b> Button labels should be concise and describe the action that will be taken upon click. "Add file" is the default text that appears with the file uploader.</div>
<div><b>3. Uploaded file:</b> A file that has successfully been uploaded. It appear as chip component</div>
<div><b>4. Helper text:</b> Use to inform to the user of the specificaitons of files that could upload, e.g size or extension</div>

<h3>Overflow</h3>
<p>In case the number of files does not fit in the input, the input will make a line break in order to contain all the chips.</p>
<div class="d-flex justify-content-center my-5">
  <img src="components/file-selector/images/overflow.svg">
</div>


<h2 id="behaivour">Behaivour</h2>

<div class="d-flex justify-content-center my-5">
  <img src="components/file-selector/images/upload-selected.svg">
</div>
<ul>
  <li>When a file is selected it appears as a chip with the file name.</li>
  <li>You can delete the file with the chip icon.</li>
</ul>



