<h1>Combobox</h1>
<p>
    The combobox component allows users to choose one option from a list. It is used in forms for users to submit data.
</p>




<div class="d-flex justify-content-center mt-5 align-items-center">
    <img src="components/combobox/images/combobox.svg">
</div>

<h2 id="overview">Overview</h2>
Combobox is a type of input that is used in forms, where a user is submitting data and chooses one option from a list.
<div class="d-flex justify-content-center mt-5 align-items-center">
    <img src="components/combobox/images/open.svg">
</div>


<h2 id="content">Content</h2>
<h3>Labels</h3>
<ul>
    <li>Labels inform users what to expect in the list of combobox options.</li>
    <li>Keep the label short and concise by limiting it to a single line of text.</li>
</ul>
<h3>Helper text</h3>
<ul>
    <li>Helper text is pertinent information that assists the user in choosing the right selection from the combobox menu.</li>
    <li>Helper text is always available when the combobox is focused and appears underneath the label.</li>
    <li>Use sentence-style capitalization and write the text as full sentences with punctuation, unless space is limited</li>
</ul>
<div class="d-flex justify-content-center mt-5 align-items-center">
    <img src="components/combobox/images/helper.svg">
</div>

<h3>Placeholder text</h3>
<ul>
    <li>Placeholder text is presented in the field by default if no selection has been made from the combobox.</li>
    <li>Use clear placeholder text for the combobox trigger so that users understand the purpose.</li>
</ul>
<hint>Use a placeholder in case the combobox does not have a label above it.</hint>

<h3>Options in a menu</h3>
<ul>
    <li>Describe the combobox option succinctly in one line of text.</li>
    <li>Avoid use decorative images or icons within a combobox</li>
</ul>
<hint>We recommend presenting the options in alphabetical order.</hint>

<hr>
<h3>Overflow content</h3>
Avoid having multiple lines of text in a combobox. If the text is too long for one line, add an ellipsis (…) for overflow content, and accompany it with a browser-based tooltip to show the full string of text.


<h2 id="variants">Variants</h2>

<table class="table">
    <thead>
      <tr>
        <th>Variant</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>With restore default option</b></td>
        <td>
            <img src="components/combobox/images/restore.svg">
        </td>
        
      </tr>
      <tr>
        <td><b>Autocomplete</b></td>
        <td>
            <img src="components/combobox/images/autocomplete.svg">
        </td>
        
      </tr>
      <tr>
        <td>
            <b>Filtering</b>
            <p>
                After typing text in the field, the close (x) icon appears to the right of the text in the field. This clears any text that’s been entered in the field.
            </p>
        </td>
        <td>
            <img src="components/combobox/images/searchable.svg">
        </td>
        
      </tr>
      <tr>
        <td>
            <b>Selected option</b>
            <p>
                Selecting an option closes the menu and the selected option replaces the placeholder text.
            </p>
        </td>
        <td>
            <img src="components/combobox/images/selected-value.svg">
        </td>
        
      </tr>
      <tr>
        <td>
            <b>Multiple selection</b>
            <p>
                Use when you can select multiple options from a list or to filter information.
            </p>
            <ul>
                <li>Once options have been selected from the menu, the option value appears concatenated in combobox value.</li>
                <li>The menu does not close once the user makes selections. Because multiple selections are possible, the user needs to click outside of the dropdown or on the parent element to close the menu.</li>
            </ul>

            

            
        </td>
        <td>
            <img src="components/combobox/images/multiselect.svg">
        </td>
        
      </tr>
      <tr>
        <td><b>Tree</b></td>
        <td>
            <img src="components/combobox/images/tree.svg">
        </td>
        
      </tr>
    </tbody>
  </table>




<h2 id="validation">Validation</h2>
<p>
    Real-time validation helps to streamline the process and keep data clean when the user is filling out forms.
</p>


<div class="d-flex justify-content-center mt-5">
    <img src="components/combobox/images/validation.svg">
</div>


