<h1>Radio button</h1>
<p>Radio buttons allow users to select one option from a set.</p>

<div class="d-flex justify-content-center">
    <img src="components/radio/images/radio.png">
</div>
<h2 id="usage">Usage</h2>

<p>Use radio buttons to:</p>

<ul>
    <li>Select a single option from a list</li>
    <li>Expose all available options</li>
</ul>
<p>If available options can be collapsed, consider using a dropdown menu instead, as it uses less space.</p>

<p>Always offer a default selection for radio button lists. By definition, radio buttons always have exactly one option selected, and you therefore shouldn't display them without a default selection.</p>

<hint>Visually present groups of choices as groups, and clearly separate them from other groups on the same page. The boxed example above violates this guideline because the layout makes the two checkboxes appear to be addressing separate topics when they are actually alternative options for a single topic.</hint>

<h2 id="principles">Principles</h2>

<h3>Familiar</h3>
<p>Radio buttons have been in user interfaces for a long time and should be used as expected.</p>


<h3>Scannable</h3>
<p>It should be visible at a glance if a radio button has been selected, and selected items should be more visually prominent than unselected items.</p>


<h3>Efficient</h3>
<p>Radio buttons make it easy to compare available options.</p>

<h2 id="anatomy">Anatomy</h2>

<p>A radio button contains the following elements:</p>
<h3>Button/box</h3>
<p>Comprised of a set of clickable circles (the inputs).</p>
<h3>Label</h3>
<p>Text that represent the chosen option. Text should be always present at the right</p>

<p>Users select an option by clicking on either the button/box itself or its label</p>


<h2 id="layout">Layout</h2>

<p>Lay out your lists vertically, with one choice per line. If you must use a horizontal layout with multiple options per line, make sure to space the buttons and labels so that it's abundantly clear which choice goes with which label.</p>

<h2 id="options">Options</h2>

<p>Because radio buttons require exactly one choice, make sure that the options are both comprehensive and clearly distinct.</p>

<p>Use positive and active wording for checkbox labels, so that it's clear what will happen if the user turns on the checkbox. In other words, avoid negations such as "Don't send me more email," which would mean that the user would have to check the box in order for something not to happen.

<p>If users might need to refrain from making a selection, you should provide a radio button for this choice, such as one labeled "None." Offering users an explicit, neutral option to click is better than requiring the implicit act of not selecting from the list, especially because doing the latter violates the rule of always having exactly one option chosen.</p>

