<h1>Spy menu</h1>

<div class="d-flex justify-content-center my-5">
    <img src="components/spy-menu/images/spymenu.svg">
</div>

<h2 id="overview">Overview</h2>
<p>
    A spy menu is a fixed navigation menu on a webpage that remains visible and in the same position as the user scrolls down and moves about a site.
</p>

<h3>Benefits</h3>
<ul>
    <li>Helps the user to navigate in screens where there is a large volume of information.</li>
    <li>Helps to organise information within the screen</li>
</ul>

<hr>
<h3>When to use</h3>
<ul>
    <li>When the user does not see all the information on a page and scrolling is necessary to see all the content.</li>
    <li>On pages with a large number of fields</li>
</ul>


<h3>When not to use</h3>
<ul>
    <li>When the user sees all the information on a page without scrolling</li>
</ul>

