<h1>Percentage indicator</h1>
<p>
    Percentage indicator offer a way to visualize data in an intuitive and easy way.
</p>


<h2 id="overview">Overview</h2>
<p>
    Percentage indicator is not a process loading indicator, use <a href="?components/progress-bar">progress bar</a> instead.
</p>


<h3>When to use</h3>
<ul>
    <li>To visually the state of a value e.g: the state of bulks, % of connected machines </li>
</ul>

<h3>When not to use</h3>
<ul>
    <li>When it is a currently running process, in real time</li>
</ul>



<h2 id="sizong">Sizing</h2>

<table class="table">
    <thead>
      <tr>
        <th>Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <b>Large</b>
            <p>
                In the large size, the percentage indicator and the label are shown.
            </p>            
        </td>
        <td>
            <img src="components/percentage-indicator/images/large.svg">
        </td>
      </tr>
      <tr>
        <td>
            <b>Medium</b>
            <p>
                Medium size only shows the percentage value, this size allows the component to be used in small containers, such as sidebars or small cards.
            </p>            
        </td>
        <td align="center">
            <img src="components/percentage-indicator/images/medium.svg">
        </td>
      </tr>
      <tr>
        <td>
            <b>Small</b>
            <p>
                The small version only show the visual indicator without any text indication. It is designed to be used in small spaces such as tables.
            </p>            
        </td>
        <td align="center">
            <img src="components/percentage-indicator/images/small.svg">
        </td>
      </tr>
    </tbody>
  </table>








<h2 id="placement">Placement</h2>
  <div class="do-dont-row">
    <div>
        <img class="info" src="components/percentage-indicator/images/dashboard.svg">
        <div>Dashboard</div>
    </div>
    <div>
        <img class="info" src="components/percentage-indicator/images/sidebar.svg">
        <div>Sidebar</div>
    </div>
    <div>
        <img class="info" src="components/percentage-indicator/images/card.svg">
        <div>Card</div>
    </div>
    <div>
        <img class="info" src="components/percentage-indicator/images/table.svg">
        <div>Table</div>
    </div>
</div>  
  
<h2 id="content">Content</h2>
<p>
    Progress bars have a label and helper text.    
</p>

<h3>Percentage</h3>
<ul>
    <li>Indicate the percentage number.</li>
</ul>

<h3>Label</h3>
<ul>
    <li>We use the label to provide context to the user on the percentage</li>
</ul>

<h2 id="colors">Colors</h2>
<p>    
    You can use any color from the color system depending on the importance you want to give to the user.
</p>
<h3>Example of color application:</h3>
<div class="d-flex col-12 justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/percentage-indicator/images/pending.svg">
    </div>
    <div class="text-center">
        <img src="components/percentage-indicator/images/done.svg">
        
    </div>
    <div class="text-center">
        <img src="components/percentage-indicator/images/complete.svg">
        
      </div>
    <div class="text-center">
        <img src="components/percentage-indicator/images/validated.svg">
        
    </div>
</div>

