<h1>Searcher</h1>
<p>    
    Searcher offers users a way to explore and select an item from a data table also aid the user in finding content.
</p>



<h2 id="overview">Overview</h2>
<h3>Searcher input</h3>
<p>
    The searcher input has the same attributes as the <a href="?components/text-input">text input</a>.
    The only difference is that it has a button, right aligned, that trigger the search dialog.
</p>
<div class="d-flex col-12 flex-column justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/searcher/images/search-input.svg">
    
    </div>
</div>

<p>
    When the user find and select the data.
</p>
<div class="d-flex col-12 flex-column justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/searcher/images/search-input-filled.svg">
    </div>
</div>


<h3>Searcher dialog</h3>
<p>
    The searcher dialog allow the user to select an item from a table, also can filter the data When the user find and select the data.
</p>

<div class="d-flex col-12 flex-column justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/searcher/images/dialog.svg">
    
    </div>
</div>


<h2 id="when-to-use">When to use</h2>
<ul>
    <li>When the user has to select an item from a list of items with a large volume of data</li>
    <li>When the data table is collected from a db request and may take some time to be rendered.</li>
</ul>


<!-- 
<p>
   
</p>
<div class="d-flex col-12 justify-content-around border p-4 rounded">
    <div class="text-center">
        <img src="components/two-list/images/default.svg">
    </div>
</div>


<h3>When to use</h3>
<ul>
    <li>When the user needs to manage more than one item from a list with a large volume of items.</li>
</ul>

<h3>When not to use</h3>
<ul>
    <li>When you only have to select one item, use a <a href="?components/combobox">Combobox</a> instead</li>
</ul> -->

