<h1>Spacing</h1>
<p>
  Spacing is an important — and often overlooked — part of product design. Provides tokens to take the guesswork out of spacing and help deliver clear, functional layouts
</p>

<h2 id="overview">Overview</h2>
<p>
  Spacing is the negative area between elements and components. It is commonly controlled in code with margin and padding. Systelab components offers several methods such as tokens and layout components to make implementing spacing in product easier and more consistent.
</p>

<h2 id="spacing-scale">Spacing scale</h2>
<p>
  Use the spacing scale when building individual components. It includes small increments needed to create appropriate spatial relationships for detail-level designs. This scale is applied and used within all Systelab components.
</p>

<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Token</th>
        <th scope="col">rem</th>
        <th scope="col">px</th>
        <th scope="col">Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>$spacing-01</code></td>
        <td>0.125</td>
        <td>2</td>
        <td><div class="spacing-1"></td>
      </tr>
      <tr>
        <td><code>$spacing-02</code></td>
        <td>0.25</td>
        <td>4</td>
        <td><div class="spacing-2"></td>
      </tr>
      <tr>
        <td><code>$spacing-03</code></td>
        <td>0.5</td>
        <td>8</td>
        <td><div class="spacing-3"></td>
      </tr>
      <tr>
        <td><code>$spacing-04</code></td>
        <td>0.75</td>
        <td>12</td>
        <td><div class="spacing-4"></td>
      </tr>
      <tr>
        <td><code>$spacing-05</code></td>
        <td>1</td>
        <td>16</td>
        <td><div class="spacing-5"></td>
      </tr>
      <tr>
        <td><code>$spacing-06</code></td>
        <td>1.5</td>
        <td>24</td>
        <td><div class="spacing-6"></td>
      </tr>
      <tr>
        <td><code>$spacing-07</code></td>
        <td>2</td>
        <td>32</td>
        <td><div class="spacing-7"></td>
      </tr>
      <tr>
        <td><code>$spacing-08</code></td>
        <td>2.5</td>
        <td>40</td>
        <td><div class="spacing-8"></td>
      </tr>
      <tr>
        <td><code>$spacing-09</code></td>
        <td>3</td>
        <td>48</td>
        <td><div class="spacing-9"></td>
      </tr>
      <tr>
        <td><code>$spacing-10</code></td>
        <td>4</td>
        <td>64</td>
        <td><div class="spacing-10"></td>
      </tr>
      <tr>
        <td><code>$spacing-11</code></td>
        <td>5</td>
        <td>80</td>
        <td><div class="spacing-11"></div></td>
      </tr>
      <tr>
        <td><code>$spacing-12</code></td>
        <td>6</td>
        <td>96</td>
        <td>
          <div class="spacing-12">
        </td>
      </tr>
    </tbody>
  </table>

  

  <h2 id="appling-spacing">Applying spacing</h2>
  <p>
    In order to maintain the hierarchy within the application we must try to combine the different sizes available to ensure that the user does not get lost, especially in large information screens. Here are some examples of how to apply the different styles.
  </p>
<p>Example of spacing tokens applied:</p>
<h3>Dialog</h3>
  <img src="components/spacing/images/dialog-spacing.svg">


  <style>
    .spacing-1 {
      background-color: #F9CFA1;
      width: 2px;
      height: 2px;
    }

    .spacing-2 {
      background-color: #82D2FF;
      width: 4px;
      height: 4px;  
    }

    .spacing-3 {
      background-color: #BAE5BC;
      width: 8px;
      height: 8px;
    }

    .spacing-4 {
      background-color: #FFAFDE;
      width: 12px;
      height: 12px;
    }

    .spacing-5 {
      background-color: #B587FF;
      width: 16px;
      height: 16px;
    }

    .spacing-6 {
      background-color: #F78787;
      width: 24px;
      height: 24px;
    }

    .spacing-7 {
      background-color: #FEEDF7;
      width: 32px;
      height: 32px;
    }

    .spacing-8 {
      background-color: #F4F4FE;
      width: 40px;
      height: 40px;
    }

    .spacing-9 {
      background-color: #D5D5F4;
      width: 48px;
      height: 48px;
    }

    .spacing-10 {
      background-color: #EFFEED;
      width: 64px;
      height: 64px;
    }

    .spacing-11 {
      background-color: #E7EEE5;
      width: 80px;
      height: 80px;
    }

    .spacing-12 {
      background-color: #9FC893;
      width: 96px;
      height: 96px;
    }
    
  </style>